einops==0.5.0
torch==1.13.1
mosaicml==0.13.4
mosaicml-streaming==0.4.0
omegaconf==2.2.3
transformers==4.25.1
# need a newer version of triton
triton==2.0.0.dev20221103
torchmetrics==0.11.3
wandb==0.13.6
