torch==1.13.1
einops==0.5.0
mosaicml==0.12.1
mosaicml-streaming==0.2.3
flash-attn==0.2.8
mosaicml-cli>=0.2.32,<1
# need a newer version of triton
triton==2.0.0.dev20221202
transformers==4.25.1
datasets==2.7.1
omegaconf==2.2.3
wandb==0.13.4
lm-eval @ git+https://github.com/bmosaicml/lm-evaluation-harness-composergpt-integration.git@master
pytest>=7.2.1,<8
