# --------- pytorch --------- #
torch>=1.13.0
torchvision>=0.12.0
mosaicml[all]>=0.13.4,<0.14

# --------- others --------- #
omegaconf

# -------- diffusion -------- #
diffusers[torch]==0.11.1
transformers[torch]==4.25.1

# -------- xformers -------- #
xformers
