name: PR CPU tests
on:
  push:
    branches:
    - main
    - release/*
  pull_request:
    branches:
    - main
    - release/*
  workflow_dispatch:
# Cancel old runs when a new commit is pushed to the same branch if not on main or dev
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}
jobs:
  pytest-cpu:
    uses: ./.github/workflows/pytest-cpu.yaml
    strategy:
      matrix:
        include:
        - name: "cpu-2.2.0"
          container: mosaicml/pytorch:2.2.0_cpu-python3.11-ubuntu20.04
          markers: "not gpu"
          pytest_command: "coverage run -m pytest"
    name: ${{ matrix.name }}
    if: github.repository_owner == 'mosaicml'
    with:
      container: ${{ matrix.container }}
      name: ${{ matrix.name }}
      pytest-command: ${{ matrix.pytest_command }}
      pytest-markers: ${{ matrix.markers }}
  coverage:
    uses: ./.github/workflows/coverage.yaml
    name: Coverage Results
    if: github.repository_owner == 'mosaicml'
    needs: [pytest-cpu]
    with:
      download-path: artifacts
