name: PR GPU tests
on:
  push:
    branches:
    - main
    - release/*
  pull_request_target:
    branches:
    - main
    - release/**
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}
jobs:
  pytest-gpu:
    uses: mosaicml/ci-testing/.github/workflows/pytest-gpu.yaml@v0.0.5
    strategy:
      fail-fast: false
      matrix:
        include:
        - name: "gpu-2.2.1"
          container: mosaicml/pytorch:2.2.1_cu121-python3.11-ubuntu20.04
          markers: "gpu"
          pip_deps: "[all]"
          pytest_command: "coverage run -m pytest"
        - name: "gpu-2.3.0"
          container: mosaicml/pytorch:2.3.0_cu121-python3.11-ubuntu20.04
          markers: "gpu"
          pytest_command: "coverage run -m pytest"
          deps_group: "all"
    name: ${{ matrix.name }}
    if: github.repository_owner == 'mosaicml'
    with:
      container: ${{ matrix.container }}
      git_repo: mosaicml/llm-foundry
      mcloud-timeout: 1800
      name: ${{ matrix.name }}
      pip_deps: ${{ matrix.pip_deps }}
      pytest-command: ${{ matrix.pytest_command }}
      pytest-markers: ${{ matrix.markers }}
      python-version: 3.9
    secrets:
      mcloud-api-key: ${{ secrets.MCLOUD_API_KEY }}
