name: PR GPU tests
on:
  push:
    branches:
    - main
    - release/*
  pull_request_target:
    branches:
    - main
    - release/**
  workflow_dispatch:
# Cancel old runs when a new commit is pushed to the same branch if not on main or dev
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}
jobs:
  pytest-gpu:
    uses: ./.github/workflows/pytest-gpu.yaml
    strategy:
      matrix:
        include:
        - name: "gpu-2.2.0"
          container: mosaicml/pytorch:2.2.0_cu121-python3.11-ubuntu20.04
          markers: "gpu"
          pytest_command: "coverage run -m pytest"
          deps_group: "all"
        - name: "gpu-2.2.0-flash2"
          container: mosaicml/llm-foundry:2.2.0_cu121_flash2-latest
          markers: "gpu"
          pytest_command: "coverage run -m pytest"
          deps_group: "all-flash2"
    name: ${{ matrix.name }}
    if: github.repository_owner == 'mosaicml'
    with:
      container: ${{ matrix.container }}
      mcloud-timeout: 1800
      name: ${{ matrix.name }}
      pytest-command: ${{ matrix.pytest_command }}
      pytest-markers: ${{ matrix.markers }}
      python-version: 3.9
      deps-group: ${{ matrix.deps_group }}
    secrets:
      mcloud-api-key: ${{ secrets.MCLOUD_API_KEY }}
